@font-face {
	font-family: 'profession';
	src:url('fonts/profession39be.eot?rtzfer');
	src:url('fonts/professiond41d.eot?#iefixrtzfer') format('embedded-opentype'),
		url('fonts/profession39be.ttf?rtzfer') format('truetype'),
		url('fonts/profession39be.woff?rtzfer') format('woff'),
		url('fonts/profession39be.svg?rtzfer#profession') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="profession-"], [class*=" profession-"] {
	font-family: 'profession';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.profession-logo:before {
	content: "\e600";
}
td{
	color: #000;
}
